/* Estilos para a página de cursos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: red;
  color: white;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section#content {
  padding: 20px;
}

footer {
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
}
